* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex { 

  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 3fr 1fr; */
  width: 100%;  
  height: 75vh;

  
}


@media screen and (max-width: 600px) {

  .flex{
  /* display: block; */
  width: 100%;  
  grid-template-columns: 1fr; 
  /* background-color: yellow; */
  /* grid-template-columns: repeat(auto-fill,minmax(200px,1fr)); */
  /* rid-auto-flow: column; */
  /* grid-template-rows: 1fr; */
}}





/* .faqs{
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 25px;
}


.faqs .faq {
  margin: 15px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}


.faqs .faq .faq-questions { 
  position: relative;
  font-size: 20px;
  padding-right: 80px;

  transition: all 0.4s ease;
}


.faqs .faq .faq-questions::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;

  background-image: url('./image/expand_more-24px.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;


  transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease;
}


.faqs .faq.open .faq-questions {
  margin-bottom: 15px;
}


.faqs .faq.open .faq-questions::after {
  transform: translateY(-50%) rotate(180deg);
}


.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
} */